body {
	min-height: 100vh;
	width: 100vw;
	margin: 0;
	background:url('./images/background.jpg');
    background-size: cover;
    background-position: center center;
}

#navBar {
    display: flex;
    justify-content: space-between;
    align-items: left;
    height: 6vh;
    padding: 5px 10px 5px 10px;
    color: rgb(77, 150, 166);
    font-size: 18px;
    font-weight: bold;
    background-color: white;
}

h1{
	display:flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 70px;
	font-size: 36px;
    color: white;
}

h3{
	display:flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90px;
	font-size: 24px;
    color: white;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: center;

#contentLeft {
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 250px;
	margin: 30px;
	background-color: white;
	background-size: cover;
	border-radius: 20px;
}

#contentRight {
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 250px;
	margin: 30px;
	background-color: white;
	background-size: cover;
	border-radius: 20px;
}
}

#searchbutton {
	background-color:rgb(77, 150, 166);
    height: 34 px;
    width: 80 px;
    border-radius: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48 px;
    color: white;
    margin: 20px;

}

input {
    margin: 35px;
    padding: 15px;

}